
body {
    background-color: #121212;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    line-height: 1.6;
    padding: 2rem;
}

.legal-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1f1f1f;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family: 'Khand', sans-serif;
    font-size: 3rem;
    color: #FF9933;
    text-align: center;
    margin-bottom: 2rem;
}

h2 {
    font-family: 'Khand', sans-serif;
    font-size: 2rem;
    color: #FF9933;
    margin-top: 2rem;
}

p {
    margin-bottom: 1rem;
}

a {
    color: #FF9933;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
